.iconContainer
    position: fixed
    bottom: 3%
    left: 5%

.mobileIcons
    font-size: 4.5rem
    color: white
    transition: 1000ms ease
    @media screen and (min-width: 1080px)
        font-size: 6rem

.mobileIcons:hover
    color: var(--secondary)
    transition: 600ms ease