.mobileContainer
    margin-top: 12rem

    @media  screen and (min-width: 1200px)
        margin-top: 8rem

.heroSection
    width: 100%

.profilePic
    width: 250px
    border-radius: 50%
    border: 2px solid white

    @media  screen and (min-width: 1200px)
        width: 400px

#helloThere
    font-size: 4rem
    margin-top: 3rem
    font-family: var(--contrail)
    text-align: center

    @media  screen and (min-width: 1200px)
        font-size: 6rem

#myNameIs
    font-size: 2rem
    font-family: var(--contrail)
    text-align: center
    margin-top: 2rem

    @media  screen and (min-width: 1200px)
        font-size: 3rem

.strong
    font-size: 2.5rem
    color: var(--bright)

    @media  screen and (min-width: 1200px)
        font-size: 3.5rem



    

        
#getInTouch
    font-size: 2rem
    font-family: var(--jetbrains)
    min-width: 5rem
    height: fit-content
    margin-top: 3rem
    padding: 5px 10px
    cursor: pointer
    transition: all 0.3s ease
    position: relative
    display: inline-block
    outline: none
    border-radius: 10px
    z-index: 0
    background: transparent
    overflow: hidden
    border: 2px solid var(--light)
    color: var(--light)

    @media  screen and (min-width: 1200px)
        font-size: 3rem

#getInTouch:hover
    color: black
    border: 2px solid var(--bright)

#getInTouch:hover:after
    width: 100%

#getInTouch:after
    content: ''
    position: absolute
    z-index: -1
    transition: all 0.3s ease
    left: 0
    top: 0
    width: 0
    height: 100%
    background: var(--bright)



