// EVERYTHING CONTAINER
    
.mobileContainer
    transition: 600ms ease
    width: 100%
    height: 100%

/* -------------------------------------------------------------------------- */
/*                             START HERO SECTION                             */
/* -------------------------------------------------------------------------- */

.heroSection
    width: 100%
    height: 100vh
    color: white

.profilePic
    width: 55%
    max-width: 60rem
    border-radius: 50%
    border: 2px solid white
    transition: 600ms ease
    @media screen and(max-height: 412px)
        max-width: 20rem
    @media screen and(min-width: 550px)
        max-width: 40rem

#helloThere
    font-size: 4rem
    margin-top: 9%
    font-family: var(--contrail)
    text-align: center
    @media screen and(max-height: 412px)
        margin-top: 5%
    @media screen and(min-width: 650px)
        font-size: 6rem

#myNameIs
    font-size: 1.6rem
    font-family: var(--comfortaa)
    text-align: center
    margin-top: 1rem
    color: var(--bright)
    width: 65%
    @media screen and(max-height: 412px)
        margin-top: 2%
    @media screen and(min-width: 412px)
        margin-top: 3rem
    @media screen and(min-width: 650px)
        font-size: 3rem



// #getInTouch
//     font-size: 2rem
//     font-family: var(--jetbrains)
//     min-width: 5rem
//     height: fit-content
//     margin-top: 3rem
//     padding: 5px 10px
//     cursor: pointer
//     transition: all 0.3s ease
//     position: relative
//     display: none
//     outline: none
//     border-radius: 10px
//     background: transparent
//     overflow: hidden
//     border: 2px solid var(--light)
//     color: var(--light)
//     @media screen and(min-width: 650px)
//         display: inline-block

// #getInTouch:hover
//     color: black
//     border: 2px solid var(--bright)
//     background: var(--bright)


#scrollDown
    color: white
    font-size: 1.3rem
    font-family: var(--jetbrains)
    margin-top: 4rem


/* -------------------------------------------------------------------------- */
/*                             START ABOUT SECTION                            */
/* -------------------------------------------------------------------------- */


.aboutSection
    width: 100%
    height: 100vh
    color: white
    background: var(--primary)

.aboutContainer
    font-family: var(--source)
    width: 65%
    text-align: center

.aboutContainer h3
    font-family: var(--jetbrains)
    font-size: 2rem
    margin-bottom: 3rem

.aboutContainer p
    font-size: 2rem
    @media screen and(min-width: 700px)
        font-size: 2.5rem

/* -------------------------------------------------------------------------- */
/*                              BENEFITS SECTION                              */
/* -------------------------------------------------------------------------- */

.benefitsSection
    width: 100%
    height: 100%
    color: white
    background: var(--dark2)

.benefitsContainer
    font-family: var(--source)
    width: 100%
    height: 100%
    margin: 5rem

.benefitsContainer p
    margin-top: 2rem
    font-size: 2rem
    text-align: center
    font-family: var(--comfortaa)

.benefitsContainer h3
    font-family: var(--contrail)
    font-size: 2.7rem
    text-align: center
    padding-bottom: 2rem
    margin-bottom:5rem
    border-bottom: 2px solid white

.benefitsTitle
    font-size: 2.3rem
    margin-top: 2rem
    font-family: var(--jetbrains)
    color: var(--bright)
    text-align: center

.benefitsItem
    margin: 6rem 1.5rem
    margin-top: 0rem
    flex: 1

// benefits Icons

.benefitsIcon
    background: var(--bright2)
    border-radius: 50%
    border: 4px solid white
    padding: 2rem
    color: black
    font-size: 12rem
    








/* -------------------------------------------------------------------------- */
/*                                   FADE IN                                  */
/* -------------------------------------------------------------------------- */

.fadeIn
    animation: fadeIn 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000) 100ms both

@keyframes fadeIn 
  0% 
    opacity: 0
  
  100% 
    opacity: 1